<footer>
   <section>
       <div class="footer-item">
           <p class="section-title large-title">A propos</p>
           <p>L’association Tribu Cancer est née en 2004 à l’initiative de Nathalie Laporte. Atteinte d’un cancer et isolée sur la presqu’île de Quiberon , Nathalie a bénéficié d’un réseau de soutiens qui a fonctionné jour et nuit grâce à Internet. Ses souhaits : que tous les malades et leurs proches puissent bénéficier à leur tour de soutiens à distance et qu’ils puissent réaliser des projets.</p>
       </div>
       <div class="footer-item">
           <p class="section-title large-title">Liens rapides</p>
           <ul>
               <li><a href="{{ url('nous-soutenir') }}">Faire un don</a></li>
               <li><a href="{{ url('rompre-lisolement') }}">Maild de nuit</a></li>
               <li><a href="{{ url('rompre-lisolement') }}">Bulle santé</a></li>
               <li><a href="{{ url('rompre-lisolement') }}">Coaching professionnel</a></li>
               <li><a href="" download>Plaquette</a></li>
           </ul>
       </div>
       <div class="footer-item">
           <p class="section-title large-title">Informations</p>
           <ul>
               <li><a href="#">Actualités</a></li>
               <li><a href="#">Faits marquant</a></li>
               <li><a href="#">Photos</a></li>
               <li><a href="#">Videos</a></li>
           </ul>
       </div>
       <div class="footer-item">
           <p class="section-title large-title">Partenaires de tribu cancer</p>
           {% set index = 0 %}
           {% for _partner in partner %}
            {% if index <= 0  %}
              <ul>
            {% endif %}
            <li><a href="{{_parnter.link}}" target="_blank">{{_partner.title}}</a></li>
            {% if index >= 5 %}
              </ul>
              {% set index = 0 %}
            {% else %}
              {% set index = index + 1 %}
            {% endif %}
           {% endfor %}
           <!-- <ul>
               <li><a href="http://www.afsos.org/" target="_blank">AFSOS</a></li>
               <li><a href="http://www.amgen.com/responsibility/amgen-foundation/" target="_blank">AMGEN</a></li>
               <li><a href="https://www.fondation-pfizer.org/" target="_blank">Fondation Pfizer</a></li>
               <li><a href="http://www.novartis.fr/" target="_blank">Novartis</a></li>
               <li><a href="http://www.fondationarcad.org/" target="_blank">Fondation Arcad</a></li>
               <li><a href="https://www.rotary.org/fr" target="_blank">Rotary</a></li>
           </ul>
           <ul>
               <li><a href="http://www.ressources-solidaires.org/Les-nouveaux-Incubes-d-Antropia" target="_blank">Essec</a></li>
               <li><a href="http://www.e-cancer.fr/Patients-et-proches/Les-cancers" target="_blank">INCA</a></li>
               <li><a href="https://fr.eyeka.com/" target="_blank">Eyeka</a></li>
               <li><a href="http://www.vivreavec.org/" target="_blank">Vivre avec</a></li>
               <li><a href="http://www.aphp.fr/" target="_blank">APHP</a></li>
               <li><a href="http://www.fcb.com/" target="_blank">DRAFTFCB</a></li>
           </ul>
           <ul>
               <li><a href="http://www.voixdespatients.fr/" target="_blank">La voix des patients</a></li>
               <li><a href="http://www.association-ressource.org/" target="_blank">Assocations ressources</a></li>
               <li><a href="https://www.facebook.com/lerubandelespoir" target="_blank">Le ruban de l'espoir</a></li>
           </ul> -->
       </div>
   </section>
    <section>
        <div>
            <ul>
                <li><a href="">Mentions légales</a></li>
                <li><a href="">Copyright</a></li>
            </ul>
        </div>
        <div>
            <p>Tribu cancer copyright © 2016</p>
            <p>contact@tribucancer.org</p>
            <p>+33 1 34 56 78 43</p>
        </div>
    </section>
</footer>