<footer>
   <section>
       <div class="footer-item">
          <p class="section-title large-title">A propos</p>
          <p>L’association Tribu Cancer est née en 2004 à l’initiative de Nathalie Laporte.<br>
            Atteinte d’un cancer et isolée sur la presqu’île de Quiberon, Nathalie a bénéficié d’un réseau de soutiens qui a fonctionné jour et nuit grâce à Internet.<br>
            Son souhait : que tous les malades et leurs proches puissent bénéficier à leur tour de soutiens au sein d’un réseau d’entraide participatif.</p>
       </div>
       <div class="footer-item">
           <p class="section-title large-title">Liens rapides</p>
           <ul>
               <li><a href="{{ url('nous-soutenir') }}">Faire un don</a></li>
               {% for service in services %}
                <li><a href="{{ path('redirect', {'page': 'rompre-lisolement', 'slug': service.slug}) }}">{{service.name}}</a></li>
              {% endfor %}
           </ul>
       </div>
       <div class="footer-item">
           <p class="section-title large-title">Informations</p>
           <ul>
               <li><a href="{{ url('actualites') }}">Actualités</a></li>
               <li><a href="{{ url('archives') }}">Faits marquants</a></li>
           </ul>
       </div>
       <div class="footer-item">
           <p class="section-title large-title">Partenaires de tribu cancer</p>
           {% set index = 0 %}
           {% for _partner in partner %}
            {% if index <= 0  %}
              <ul>
            {% endif %}
            <li><a href="{{_partner.link}}" target="_blank" >{{_partner.title}}</a></li>
            {% if index >= 9 %}
              </ul>
              {% set index = 0 %}
            {% else %}
              {% set index = index + 1 %}
            {% endif %}
           {% endfor %}
       </div>
   </section>
    <section>
      <div class="mentions-div" >
        <a href="{{ url('mentions-legales') }}">Mentions légales</a>
      </div>
      <div>
          <p>Tribu cancer copyright © 2016</p>
          <p>contact@tribucancer.org</p>
      </div>
    </section>
</footer>