<header>
    <div class="content">
        <div class="tribucancer-logo">
            <a href="{{ path('homepage') }}"><img src="assets/imgs/logo-tribu.png" alt="association tribu cancer"></a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url('lassociation') }}">L'association</a></li>
                <li><a href="{{ url('nous-soutenir') }}">Nous soutenir</a></li>
                <li><a href="{{ url('rompre-lisolement') }}">Rompre l'isolement</a></li>
                <li><a href="{{ url('sevader') }}">S'évader</a></li>
                <li><a href="{{ url('partenaires') }}">Partenaires</a></li>
                <li><a href="{{ url('contact') }}">Contact</a></li>
            </ul>
        </nav>
        <a class="button button-red button-pdf" href="" download>
            <span>pdf</span>
            Télécharger la plaquette
        </a>
    </div>
</header>

