<header>
    <div class="content">
        <div class="tribucancer-logo">
            <a href="{{ path('homepage') }}"><img src="assets/imgs/logo-tribu.png" alt="association tribu cancer">
            <h1>Tribu cancer</h1></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="{{ url('lassociation') }}" {% if app.request.get('_route') == 'lassociation' %}class="active"{% endif %}>L'association</a>
                </li>
                <li>
                    <a href="{{ url('nous-soutenir') }}" {% if app.request.get('_route') == 'nous-soutenir' %}class="active"{% endif %}>Nous soutenir</a>
                </li>
                <li>
                    <a href="{{ url('rompre-lisolement') }}" {% if app.request.get('_route') == 'rompre-lisolement' %}class="active"{% endif %}>Rompre l'isolement</a>
                </li>
                <li>
                    <a href="{{ url('sevader') }}" {% if app.request.get('_route') == 'sevader' %}class="active"{% endif %}>S'évader</a>
                </li>
                <li>
                    <a href="{{ url('partenaires') }}" {% if app.request.get('_route') == 'partenaires' %}class="active"{% endif %}>Partenaires</a>
                </li>
                <li>
                    <a href="{{ url('contact') }}" {% if app.request.get('_route') == 'contact' %}class="active"{% endif %}>Contact</a>
                </li>
            </ul>
        </nav>
        <a class="button button-red button-pdf" href="assets/pdf/Plaquette-TribuCancer-2015.pdf" download>
            <span>pdf</span>
            Télécharger la plaquette
        </a>
    </div>
</header>

<div id="lightbox">
    <span class="close"></span>
    <div class="lightbox-container">
        <img src="" alt="">
    </div>
</div>
