{% extends 'base.html.twig' %}
{% block headerBanner %}{% endblock %}

{% block body %}
	<main class="main-content main-actualite">
	  <div class="medium-wrap service">
	  	<h3>Actualité</h3>
	  	<div class="services-container">
	    	<div class="service-content actualite">
	    		<p class="actu-title">{{ article.title }}</p>
					<div class="header">
					    <img src="/assets/imgs/article/{{article.image}}" alt="{{article.title}}">
					</div>

					<div class="actualite-content">
						<p>{{ article.body | raw }}</p>
					</div>

					

					{% if ( ( article.image1 != null ) or
                            ( article.image2 != null ) or
                            ( article.image3 != null )

                            ) %}
                            <h3 class="item-title">Photos et vidéos</h3>
                            <div class="photo-gallery">
                                <div class="gallery">
                                    {% if article.image1 != null %}
                                        <a href="assets/imgs/article/{{article.image1}}" class="gallery-item"><img src="/assets/imgs/article/{{article.image1}}" alt="{{article.name}}-{{loop.index}}"></a>
                                    {% endif %}
                                    {% if article.image2 != null %}
                                        <a href="assets/imgs/article/{{article.image2}}" class="gallery-item"><img src="/assets/imgs/article/{{article.image2}}" alt="{{article.name}}-{{loop.index}}"></a>
                                    {% endif %}
                                    {% if article.image3 != null %}
                                        <a href="assets/imgs/article/{{article.image3}}" class="gallery-item"><img src="/assets/imgs/article/{{article.image3}}" alt="{{article.name}}-{{loop.index}}"></a>
                                    {% endif %}
                                </div>
                                <div class="gallery-view-box"></div>

                            </div>
                            {% endif %}

				{% if article.pdf %}
		    		<div class="service-documents">
		    		    <h3 class="item-title">Documents</h3>
		    		    <ul>
		    		    	{% for doc in article.pdf %}
			  		        <li>
					            <a class="button button-red button-pdf" href={{ asset( doc.file , 'pdf') }} download>
					                <span>pdf</span><span class="document-name">{{doc.name}}</span>
					            </a>
			  		        </li>
		  		      	{% endfor %}
		    		    </ul>
		    		</div>
	    		{% endif %}

	    	</div>
	    </div>

	    <div class="others-actualites">
	      <a href="#" class="news-section-title active"><h3>Autres Actualités</h3></a>

		  {% for article in autreArticles %}

			<a href="{{ path('actualite', {'id': article.id}) }}" class="item-news">
				  <div class="items-news-image">
					  <img src="/assets/imgs/article/{{ article.image }}" alt="les foulées du large">
				  </div>
				  <div class="items-news-title">
					  <p>{{ article.title }}</p>
				  </div>
			  </a>
		  {% endfor %}

	    </div>
	  </div>
	</main>
{% endblock %}

{% block javascripts %}{% endblock %}