{% extends 'base.html.twig' %}
{% block headerBanner %}{% endblock %}

{% block body %}
	<main class="main-content main-actualite">
	  <div class="medium-wrap service">
	  	<h3>Archive</h3>
	  	<div class="services-container">
	    	<div class="service-content actualite">
	    		<p class="actu-title">{{ archive.title }}</p>
					<div class="header">
					    <img src="/assets/imgs/article/{{archive.image}}" alt="{{archive.title}}">
					</div>

					<div class="actualite-content">
						<p>{{ archive.body | raw }}</p>
					</div>

				{% if archive.pdf %}
		    		<div class="service-documents">
		    		    <h3 class="item-title">Documents</h3>
		    		    <ul>
		    		    	{% for doc in archive.pdf %}
			  		        <li>
					            <a class="button button-red button-pdf" href="assets/pdf/{{doc.file}}" download>
					                <span>pdf</span><span class="document-name">{{doc.name}}</span>
					            </a>
			  		        </li>
		  		      	{% endfor %}
		    		    </ul>
		    		</div>
	    		{% endif %}

	    	</div>
	    </div>

	    <div class="others-actualites">
	      <a href="#" class="news-section-title active"><h3>Autres Actualités</h3></a>

		  {% for archive in autreArchives %}

			<a href="{{ path('archive', {'id': archive.id}) }}" class="item-news">
				  <div class="items-news-image">
					  <img src="/assets/imgs/article/{{ archive.image }}" alt="les foulées du large">
				  </div>
				  <div class="items-news-title">
					  <p>{{ archive.title }}</p>
				  </div>
			  </a>
		  {% endfor %}

	    </div>
	  </div>
	</main>
{% endblock %}

{% block javascripts %}{% endblock %}