{% extends 'base.html.twig' %}
{% block headerBanner %}{% endblock %}

{% block body %}
	<main class="main-content main-actualite">
	  <div class="medium-wrap service">
	  	<h3>Fait marquant</h3>
	  	<div class="services-container">
	    	<div class="service-content actualite">
	    		<p class="actu-title">{{ archive.title }}</p>
					<div class="header">
					    <img src="/assets/imgs/article/{{archive.image}}" alt="{{archive.title}}">
					</div>

					<div class="actualite-content">
						<p>{{ archive.body | raw }}</p>
					</div>

					{% if ( ( archive.image1 != null ) or
                            ( archive.image2 != null ) or
                            ( archive.image3 != null )

                            ) %}
                            <h3 class="item-title">Photos et vidéos</h3>
                            <div class="photo-gallery">
                                <div class="gallery">
                                    {% if archive.image1 != null %}
                                        <a href="/assets/imgs/article/{{archive.image1}}" class="gallery-item"><img src="/assets/imgs/article/{{archive.image1}}" alt="{{archive.name}}-{{loop.index}}"></a>
                                    {% endif %}
                                    {% if archive.image2 != null %}
                                        <a href="/assets/imgs/article/{{archive.image2}}" class="gallery-item"><img src="/assets/imgs/article/{{archive.image2}}" alt="{{archive.name}}-{{loop.index}}"></a>
                                    {% endif %}
                                    {% if archive.image3 != null %}
                                        <a href="/assets/imgs/article/{{archive.image3}}" class="gallery-item"><img src="/assets/imgs/article/{{archive.image3}}" alt="{{archive.name}}-{{loop.index}}"></a>
                                    {% endif %}
                                </div>
                                <div class="gallery-view-box"></div>
                            </div>
                            {% endif %}

				{% if archive.pdf %}
		    		<div class="service-documents">
		    		    <h3 class="item-title">Documents</h3>
		    		    <ul>
		    		    	{% for doc in archive.pdf %}
			  		        <li>
					            <a class="button button-red button-pdf" href={{ asset( doc.file , 'pdf') }} download>
					                <span>pdf</span><span class="document-name">{{doc.name}}</span>
					            </a>
			  		        </li>
		  		      	{% endfor %}
		    		    </ul>
		    		</div>
	    		{% endif %}

	    	</div>
	    </div>

	    <div class="others-actualites">
	      <a href="#" class="news-section-title active"><h3>Autres Actualités</h3></a>

		  {% for archive in autreArchives %}

			<a href="{{ path('archive', {'id': archive.id}) }}" class="item-news">
				  <div class="items-news-image">
					  <img src="//assets/imgs/article/{{ archive.image }}" alt="les foulées du large">
				  </div>
				  <div class="items-news-title">
					  <p>{{ archive.title }}</p>
				  </div>
			  </a>
		  {% endfor %}

	    </div>
	  </div>
	</main>
{% endblock %}

{% block javascripts %}{% endblock %}