{% extends 'base.html.twig' %}
{% import 'partials/header.html.twig' as title %}

{% block body %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5&appId=1052302438124549";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    {# <h1>{{ title.valueTitle('Mail de nuit') }}</h1>#}
    <main class="main-content main-home">
      <aside class="main-menu">
        <div class="main">
          <h3>Les services tribu cancer</h3>
          <div class="menu">
            <ul>
              <h4>Rompre l'isolement</h4>
              {% for service in services %}
                <li><a href="{{ path('redirect', {'page': 'rompre-lisolement', 'slug': service.slug}) }}">{{service.name}}</a></li>
              {% endfor %}
            </ul>
            <ul>
              <h4>S'évader</h4>
              {% for event in events %}
                 <li><a href="{{ path('redirect', {'page': 'sevader', 'slug': event.slug}) }}">{{event.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="maildenuit-min">
            <span class="shadow"></span>
            <img src="assets/imgs/maildenuit-banner.png" alt="mail de nuit le soutien psychologique">
            <h4>Mail de nuit</h4>
            <p>Pour ne plus être seul avec la maladie</p>
            <a href="http://www.maildenuit.com" class="button button-orange" target="_blank">Accèder au service</a>
          </div>
          <div class="newsletter">
            <h4>Newsletter</h4>
            <p>Inscrivez vous à la newsletter pour être tenu informé des actualités de l'association.</p>
            <form action="#">
                <input type="email" name="email" id="email-news" placeholder="Email">
                <button>Inscription</button>
            </form>
          </div>
          <div class="partner">
            <h4>Tribu cancer est partenaire de cancer info</h4>
            <a href="http://www.e-cancer.fr/Patients-et-proches/Les-cancers" target="_blank">
              <img src="assets/imgs/logo-cancerinfo.png" alt="cancer info toute l'info sur le cancer">
            </a>
          </div>
          <div class="fb-page" data-href="https://www.facebook.com/tribucancer/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
            <div class="fb-xfbml-parse-ignore">
              <blockquote cite="https://www.facebook.com/tribucancer/"><a href="https://www.facebook.com/tribucancer/">Association Tribu Cancer</a></blockquote>
            </div>
          </div>
        </div>
      </aside>

      <div class="width-wrap">
        <div class="line">
          <div class="item">
            <h3>Rompre l'isolement</h3>
            <div class="rompre">
              {% for service in services %}
                <div class="item-rompre">
                  <img class="icon" src="assets/icons/{{service.icon}}" alt="coaching pro">
                  <h4 class="item-title">{{service.name}}</h4>
                  <p>{{service.shortDesc | raw}}</p>
                  <div class="see-more">
                      <a href="{{ path('redirect', {'page': 'rompre-lisolement', 'slug': service.slug}) }}">En savoir plus <img src="assets/icons/arrow-right.svg" alt="en savoir plus"></a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="item support-us">
            <h3>Soutenez nous</h3>
            <a href="{{ url('nous-soutenir') }}" class="content">
              <img src="assets/imgs/support.png" alt="faites un don pour nous soutenir">
              <p>Aucun malade ne devrait être seul face à la maladie</p>
              <p>Faire un don</p>
            </a>
          </div>
        </div>
        <div class="line">
          <div class="item">
              <h3>S'évader</h3>
              <div class="activities-list">
                {% for event in events %}
                  <div class="activity">
                    <span class="img"><img src="assets/imgs/event/{{event.thumbnail}}" alt="{{event.name}}"></span>
                    <div class="content">
                      <h4 class="item-title"><a href="{{ path('redirect', {'page': 'sevader', 'slug': event.slug}) }}">{{event.name}}</a></h4>
                      <p>{{event.shortDesc | raw}}</p>
                      <div class="see-more">
                        <a href="{{ path('redirect', {'page': 'sevader', 'slug': event.slug}) }}">En savoir plus <img src="assets/icons/arrow-right.svg" alt="en savoir plus"></a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
          </div>
          <div class="item">
            {% if articles %} <a href="articles" class="news-section-title active"><h3>Actualités</h3></a> {% endif %}
            {% if articles and archives %}<span class="dot"></span>{% endif %}
            {% if archives %}<a href="archives" class="news-section-title {% if not articles %} active{% endif %}"><h3>Faits marquants</h3></a>{% endif %}
            {% if articles %}
            <div class="wrapper articles show">
              {% for article in articles %}
                <a href="{{ url('actualite', {'id': article.id }) }}" class="item-news">
                  <div class="items-news-image">
                    <img src="assets/imgs/article/{{article.image}}" alt="{{article.title}}">
                  </div>
                  <div class="items-news-title">
                    <p>{{article.title}}</p>
                  </div>
                </a>
              {% endfor %}
            </div>
            {% endif %}
            {% if archives %}
            <div class="wrapper archives {% if not articles %} show {% endif %}">
              {% for archive in archives %}
                <a href="{{ url('archive', {'id': archive.id }) }}" class="item-news">
                  <div class="items-news-image">
                    <img src="assets/imgs/article/{{archive.image}}" alt="{{archive.title}}">
                  </div>
                  <div class="items-news-title">
                    <p>{{archive.title}}</p>
                  </div>
                </a>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </main>

{% endblock %}

{% block javascripts %}{% endblock %}
