{% extends 'base.html.twig' %}
{% block headerBanner %}{% endblock %}

{% block body %}
	<main class="main-content main-partenaires">
	  <div class="medium-wrap service">
	  	<h3>Partenaires</h3>
	  	<div class="services-container">
	  		<div class="service-content">
	  			{# <div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/bloc-inca.png" alt="cancer info service">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">Tribu Cancer est partenaire de la plateforme CANCER INFO</p>
	  					<p>« L’INCa met à disposition des patients et de leurs proches la plateforme d’information de référence sur les cancers, Cancer info, accessible via : une ligne téléphonique au 0 810 810 821 (prix d’un appel local), des guides d’information et une rubrique internet (www.e-cancer.fr/cancer-info). Ce service est proposé en partenariat avec la Ligue contre le cancer et un groupe d’associations. »</p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/inca.jpg" alt="Institut National du Cancer">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">Institut National du Cancer (INCa)</p>
	  					<p>L'Institut National du Cancer, agence d'expertise sanitaire et scientifique en cancérologie, coordonne pour l'Etat les actions de lutte contre les cancers. Placé sous la tutelle des ministères chargés de la santé et de la recherche, il rassemble l’ensemble des acteurs de la lutte contre le cancer en France autour d'une double ambition : contribuer à diminuer la mortalité par cancer en France et améliorer la qualité de vie des personnes atteintes d’un cancer.</p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/roche.jpg" alt="roche">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">L’engagement de Roche en oncologie : innover et agir</p>
	  					<p><span class="strong">50 ans de recherche et d’innovation</span>Roche est engagé dans la lutte contre le cancer depuis 50 ans, guidé non seulement par la volonté de donner plus de vie aux patients mais aussi par la nécessité d’améliorer leur qualité de vie. Grâce à une recherche scientifique d’excellence, Roche a contribué aux progrès significatifs réalisés ces dix dernières années dans la prise en charge du cancer du sein. Roche apporte son soutien à Tribu Cancer et à son service Mail de nuit, qui a pour objectif de rompre l’isolement des patients la nuit en apportant un soutien psychologique et une écoute par mail pour les personnes touchées par un cancer et leurs proches.
	  						<span class="strong">Fiches information patients :</span><a href="http://www.roche.fr/patients/info-patients-maladie-chronique.html">Cliquez ici</a></p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/ap-hp.jpg" alt="assistance publique hopitaux de Paris">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">Assistance publique – Hôpitaux de Paris</p>
	  					<p>Assistance publique – Hôpitaux de Paris est l'établissement public de santé qui exerce le rôle de centre hospitalier régional pour Paris et l'Île-de-France.</p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/somht.jpg" alt="sohmt">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">SOMHT</p>
	  					<p>Service d'Ocologie Médicale et de Thérapie Cellulaire</p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/fondation-roche.jpg" alt="la fondation roche">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">La fondation Roche</p>
	  					<p>Créée en 2004, la Fondation Roche s’engage auprès des patients atteints de maladies chroniques et leur entourage. En 10 ans elle a soutenu 46 projets, des bourses de recherche, a organisé 11 rencontres nationales et régionales et publié 7 résolutions. En 2011 la Fondation Roche a lancé « Voix des Patients », plateforme participative dédiée à l’actualité des maladies chroniques, devenue depuis la 1ère communauté web 2.0 autour des maladies chroniques.
	  						<span class="strong">Suivez la voix des patients</span>
	  						<a href="https://www.facebook.com/LaVoixDesPatients">Sur Facebook</a>
	  						<a href="https://twitter.com/voixdespatients">Sur Twitter</a>
	  					</p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/pfizer.jpg" alt="pfizer">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">Fondation Pfizer pour la santé de l'enfant et de l’adolescent</span>
	  					<p>La Fondation Pfizer a pour ambition de contribuer à accompagner les jeunes générations dans la construction de leur personnalité, en prévenant les risques de santé propres à cet âge de transition, et de les conduire vers l’âge adulte dans les meilleures conditions médicales, psychologiques, socioprofessionnelles et sociétales. Une approche inédite qui répond à un réel besoin de prise en compte globale, et non simplement médicale, de la santé et du bien-être des enfants et des adolescents. La Fondation Pfizer soutient depuis près de dix ans projets de recherche et initiatives relatifs à la santé et au bien-être des plus jeunes.</p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/amgen.gif" alt="amgen">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">L’engagement de la Fondation Amgen</p>
	  					<p>La Fondation Amgen (www.amgen.com/citizenship/overview.html) se consacre à faire progresser l’enseignement des sciences, à améliorer l’accès des patients à des soins de qualité et enfin, à renforcer les communautés dans lesquelles vivent et travaillent les collaborateurs d’Amgen. <br/> Depuis 1991, la Fondation a octroyé des subventions de plus de 130 millions USD à des organisations à but non lucratif, des Etats-Unis, de Porto-Rico et d’Europe qui ont un impact sur la société, grâce à des idées motivantes et innovantes. Elle a également apporté son aide, au niveau national et international, lors de diverses catastrophes.</p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/mon-reseau.jpg" alt="mon reseau cancer du sein">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">Mon réseau - Cancer du sein</p>
	  					<p>le réseau social pour les femmes touchées par un cancer du sein et leurs proches: communauté - informations - ressources de proximité.</p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/france-lymphome-espoir.jpg" alt="France Lymphome espoir">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">France Lymphome Espoir</p>
	  					<p>Notre association a été créée le 16 février 2006. France Lymphome Espoir est une association de patients atteints d'un lymphome qui a pour objectif d'assister et d'informer tous ceux qui sont touchés par cette maladie, patients ou proches.</p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/europadonna.jpg" alt="europadonna">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">EUROPADONNA</p>
	  					<p>Europa Donna Forum France est une association militante qui informe, rassemble et soutient les femmes dans la lutte contre le cancer du sein. Elle est membre d'une coalition, Europa Donna, coalition regroupant 46 pays sur le continent européen.</p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/arcad.jpg" alt="arcad">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">ARCAD</p>
	  					<p>La fondation A.R.CA.D, Aide et Recherche en Cancérologie Digestive, créée à l'initiative du Professeur Aimery de Gramont, a été reconnue d'utilité publique par décret du Conseil d'Etat du 22 décembre 2006.</p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/collectif-k.jpg" alt="collectif k">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">COLLECTIF K</p>
	  					<p>Créer une synergie entre associations, institutions, collectivités locales et professionnels afin de contribuer à la prise de conscience et au changement de comportements de toutes les parties-prenantes dont le grand public.</p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/cancer-contribution.jpg" alt="cancer contribution">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">Cancer contribution</p>
	  					<p>Cancercontribution.fr est une plateforme qui réunit les acteurs concernés par le cancer (patients, médecins, responsables politiques, monde associatif, citoyens). Chacun, avec son expertise, participe à la co-construction d’une nouvelle vision autour de la maladie et de ses impacts sur la société.</p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/isis-asso.jpg" alt="isis">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">Isis</p>
	  					<p>En 1989, l'association ISIS est créée pour contribuer à améliorer la qualité de vie des enfants touchés par le cancer. Elle est l'association des parents et des amis des enfants traités pour cancer à l'Institut Gustave Roussy.</p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/rcfr.jpg" alt="rcfr">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">RCFr</p>
	  					<p>Un an après la mise en place du Plan Cancer 3, alors que l’on assiste à une forte mobilisation contre le cancer de toutes les parties prenantes (patients et leurs associations, professionnels de santé et médico-sociaux de tous modes d’exercice, établissements de santé, entreprises de la santé et start-up, politiques et économistes…), l’édition 2015 des RCFr va se consacrer plus spécifiquement au décryptage des parcours de soins des patients atteints de cancer, avec une réflexion sur les rôles respectifs des acteurs, les dispositifs de coordination et les modèles innovants, ceci dans l’objectif de tracer les lignes d’un véritable parcours de vie.</p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/unicancer.jpg" alt="unicancer">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">UNICANCER</p>
	  					<p>Découvrez UNICANCER, groupe hospitalier exclusivement dédié à la lutte contre le cancer. UNICANCER réunit les 20 Centres de lutte contre le cancer (CLCC) : établissements privés, à but non lucratif, assurant une triple mission de soins, recherche et formation dans le domaine de la cancérologie. Présent dans 16 régions françaises, UNICANCER porte un modèle unique de prise en charge des patients.</p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/fondation-bk.jpg" alt="Fondation Brasseries kronenbourg">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">Fondation Brasseries Kronenbourg</p>
	  					<p>- Mener le débat, organiser les confrontations, partager nos expériences : brasser les différences<br/>- Construire un réseau, animer la communauté des « amis » de la Fondation : créer du lien entre les structures soutenues, les parrains, nos partenaires<br/>- Soutenir et accompagner financièrement et humainement les projets sur l’ensemble du territoire national : changer la vie.</p>
	  				</div>
	  			</div>
	  			<div class="partenaire">
	  				<a href="" class="partenaire-logo">
	  					<img src="assets/partenaires/faire-face-ensemble.png" alt="faire face ensemble">
	  				</a>
	  				<div class="partenaire-infos">
	  					<p class="partenaire-name">FAIRE FACE ENSEMBLE</p>
	  					<p>FAIRE FACE ENSEMBLE est une association qui a pour objectif d'apporter un soutien et un réconfort aux personnes touchées par le cancer et leurs proches.<br/>Elle a été créée le 3 février 1999 par deux personnes ayant vécu l'épreuve de vie qu'est le cancer : Michèle Millet médecin et Françoise Sellin.</p>
	  				</div>
	  			</div> #}
	  			{% for partner in text %}
	  				<div class="partenaire">
	  					<a href="{{partner.link}}" class="partenaire-logo">
	  						<img src="assets/partenaires/{{partner.image}}" alt="{{partner.title}}">
	  					</a>
	  					<div class="partenaire-infos">
	  						<p class="partenaire-name">{{partner.title}}</p>
	  						<p>{{partner.body | raw}}</p>
	  					</div>
	  				</div>
	  			{% endfor %}
	  			<div class="partenaires-list">
	  				<ul>
	  					{# <li>
	  						<a href=""><img src="assets/partenaires/novartis.gif" alt="novartis"></a>
	  					</li>
	  					<li>
	  						<a href=""><img src="assets/partenaires/rotary.gif" alt="rotary"></a>
	  					</li>
  						<li>
  							<a href=""><img src="assets/partenaires/essec.jpg" alt="essec"></a>
  						</li>
	  					<li>
	  						<a href=""><img src="assets/partenaires/inca.jpg" alt="inca"></a>
	  					</li>
	  					<li>
	  						<a href=""><img src="assets/partenaires/voix-des-patients.jpg" alt="voix-des-patiens"></a>
	  					</li>
	  					<li>
	  						<a href=""><img src="assets/partenaires/antropia.jpg" alt="antropia"></a>
	  					</li>
  						<li>
  							<a href=""><img src="assets/partenaires/vivreavec.jpg" alt="vivre-avec"></a>
  						</li>
	  					<li>
	  						<a href=""><img src="assets/partenaires/ap-hp.jpg" alt="ap-hp"></a>
	  					</li>
	  					<li>
	  						<a href=""><img src="assets/partenaires/draftfcb.jpg" alt="draftfcb"></a>
	  					</li>
  						<li>
  							<a href=""><img src="assets/partenaires/eyeka.jpg" alt="eyeka"></a>
  						</li>
	  					<li>
	  						<a href=""><img src="assets/partenaires/tf1.jpg" alt="tf1"></a>
	  					</li>
	  					<li>
	  						<a href=""><img src="assets/partenaires/afsos.jpg" alt="afsos"></a>
	  					</li>
	  					<li>
	  						<a href=""><img src="assets/partenaires/sillc.jpg" alt="sillc"></a>
	  					</li>
	  					<li>
	  						<a href=""><img src="assets/partenaires/catherine-cerisey.jpg" alt="catherine-cerisey"></a>
	  					</li>
  						<li>
  							<a href=""><img src="assets/partenaires/cheer-up.jpg" alt="cheer-up"></a>
  						</li>
	  					<li>
	  						<a href=""><img src="assets/partenaires/jsc.jpg" alt="jsc"></a>
	  					</li>
	  					<li>
	  						<a href=""><img src="assets/partenaires/infos-sarkomes.jpg" alt="infos-sarkomes"></a>
	  					</li> #}
	  					{% for partner in noText %}
	  						<li>
	  							<a href="{{partner.link}}"><img src="assets/partenaires/{{partner.image}}" alt="{{partner.title}}"></a>
	  						</li>
	  					{% endfor %}
	  				</ul>
	  			</div>
	  		</div>
	  	</div>
	  </div>
	</main>
{% endblock %}

{% block javascripts %}{% endblock %}