{% extends 'base.html.twig' %}
{% block headerBanner %}{% endblock %}

{% block body %}
    <main class="main-content main-rompre">
        <div class="wide-wrap service">
            <div class="services-switch">
                {# <div class="service" >
                    <a href="#" class="active" data-item="1">
                        <svg width="51px" height="40px" viewBox="0 0 51 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 3.6 (26304) - http://www.bohemiancoding.com/sketch -->
                            <title>Letter</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="HOME" transform="translate(-399.000000, -535.000000)" fill="#FF9F00">
                                    <g id="ROMPRE-L'ISOLEMENT" transform="translate(320.000000, 480.000000)">
                                        <g id="MAIL-DE-NUIT" transform="translate(24.000000, 55.000000)">
                                            <path d="M102.603834,3.55271368e-15 L68.9297125,3.55271368e-15 C67.0766773,3.55271368e-15 65.6070288,1.46964856 65.6070288,3.32268371 L65.6070288,4.47284345 L64.456869,4.47284345 C62.6038339,4.47284345 61.1341853,5.94249201 61.1341853,7.79552716 L61.1341853,10.6070288 L58.3226837,10.6070288 C56.4696486,10.6070288 55,12.0766773 55,13.9297125 L55,36.6773163 C55,38.5303514 56.4696486,40 58.3226837,40 L91.9968051,40 C93.8498403,40 95.3194888,38.5303514 95.3194888,36.6773163 L95.3194888,33.8658147 L98.1309904,33.8658147 C99.9840256,33.8658147 101.453674,32.3961661 101.453674,30.543131 L101.453674,29.3929712 L102.603834,29.3929712 C104.456869,29.3929712 105.926518,27.9233227 105.926518,26.0702875 L105.926518,3.32268371 C105.926518,1.46964856 104.456869,3.55271368e-15 102.603834,3.55271368e-15 L102.603834,3.55271368e-15 Z M91.9968051,12.2683706 C92.3162939,12.2683706 92.6357827,12.3961661 92.8913738,12.5239617 L75.1916933,25.6230032 L57.172524,12.715655 C57.4920128,12.4600639 57.8753994,12.2683706 58.3226837,12.2683706 L91.9968051,12.2683706 L91.9968051,12.2683706 Z M58.3226837,38.3386581 C58.1309904,38.3386581 58.0031949,38.2747604 57.8115016,38.2747604 L67.2683706,27.4760383 L65.9904153,26.3897764 L56.7252396,36.9968051 C56.7252396,36.8690096 56.6613419,36.8051118 56.6613419,36.6773163 L56.6613419,14.3769968 L75.1916933,27.6677316 L93.658147,13.9936102 L93.658147,36.6773163 C93.658147,36.8051118 93.658147,36.9329073 93.5942492,37.0607029 L84.3290735,26.3897764 L83.0511182,27.4760383 L92.4440895,38.2108626 C92.3162939,38.2747604 92.1246006,38.2747604 91.9329073,38.2747604 L58.3226837,38.2747604 L58.3226837,38.3386581 Z M99.7923323,30.543131 C99.7923323,31.4376997 99.0255591,32.2044728 98.1309904,32.2044728 L95.3194888,32.2044728 L95.3194888,13.9297125 C95.3194888,12.0766773 93.8498403,10.6070288 91.9968051,10.6070288 L62.7955272,10.6070288 L62.7955272,7.79552716 C62.7955272,6.90095847 63.5623003,6.1341853 64.456869,6.1341853 L98.1309904,6.1341853 C99.0255591,6.1341853 99.7923323,6.90095847 99.7923323,7.79552716 L99.7923323,30.543131 L99.7923323,30.543131 Z M104.265176,26.0702875 C104.265176,26.9648562 103.498403,27.7316294 102.603834,27.7316294 L101.453674,27.7316294 L101.453674,7.79552716 C101.453674,5.94249201 99.9840256,4.47284345 98.1309904,4.47284345 L67.2683706,4.47284345 L67.2683706,3.32268371 C67.2683706,2.42811502 68.0351438,1.66134185 68.9297125,1.66134185 L102.603834,1.66134185 C103.498403,1.66134185 104.265176,2.42811502 104.265176,3.32268371 L104.265176,26.0702875 L104.265176,26.0702875 Z" id="Letter"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <h3 class="item-title">Mail de nuit</h3>
                    </a>
                </div>
                <div class="service">
                    <a href="#" data-item="2">
                        <svg width="41px" height="40px" viewBox="0 0 41 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 3.6 (26304) - http://www.bohemiancoding.com/sketch -->
                            <title>Audio</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="HOME" transform="translate(-627.000000, -535.000000)" fill="#FF9F00">
                                    <g id="ROMPRE-L'ISOLEMENT" transform="translate(320.000000, 480.000000)">
                                        <g id="BULLE-SANTÉ" transform="translate(219.000000, 30.000000)">
                                            <path d="M128.599609,45 C128.599609,33.9550781 119.510293,25 108.299805,25 C97.0893168,25 88,33.9550781 88,45 C88,47.7953906 88.6219987,50.4394531 89.6775885,52.8564844 C88.6442809,54.1357813 88,55.7348437 88,57.5 C88,61.6430469 91.4072746,65 95.6124268,65 C96.5069662,65 97.3520249,64.8192969 98.1499023,64.5410156 L98.1499023,50.4589844 C97.3520249,50.1807031 96.5069662,50 95.6124268,50 C94.1677309,50 92.8308777,50.4199219 91.6798154,51.1084375 C90.951322,49.2041406 90.5374756,47.1533594 90.5374756,45 C90.5374756,35.3515625 98.5054661,27.5 108.299805,27.5 C118.092875,27.5 126.062134,35.3515625 126.062134,45 C126.062134,47.1508594 125.645829,49.2016406 124.919794,51.1084375 C123.77,50.4199219 122.431878,50 120.987183,50 C120.092643,50 119.247585,50.1807031 118.449707,50.4589844 L118.449707,64.5410156 C119.247664,64.819375 120.092643,65 120.987183,65 C125.192335,65 128.599609,61.6430469 128.599609,57.5 C128.599609,55.7348437 127.955328,54.1332812 126.919483,52.8539844 C127.975152,50.4370313 128.599609,47.7953906 128.599609,45 L128.599609,45 Z M95.6124268,62.5 C92.8135119,62.5 90.5374756,60.2563281 90.5374756,57.5 C90.5374756,54.7436719 92.8135119,52.5 95.6124268,52.5 L95.6124268,62.5 L95.6124268,62.5 Z M120.987183,62.5 L120.987183,52.5 C123.784829,52.5 126.062134,54.7436719 126.062134,57.5 C126.062134,60.2563281 123.784829,62.5 120.987183,62.5 L120.987183,62.5 Z" id="Audio"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <h3 class="item-title">Bulle santé</h3>
                    </a>
                </div>
                <div class="service">
                    <a href="#" data-item="3">
                        <svg width="68px" height="40px" viewBox="0 0 68 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 3.6 (26304) - http://www.bohemiancoding.com/sketch -->
                            <title>Teacher</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="HOME" transform="translate(-835.000000, -535.000000)" fill="#FF9F00">
                                    <g id="ROMPRE-L'ISOLEMENT" transform="translate(320.000000, 480.000000)">
                                        <g id="COACHING" transform="translate(438.000000, 30.000000)">
                                            <path d="M140.912529,65 L115.761752,65 C115.123825,65 114.606379,64.4825545 114.606379,63.8446271 C114.606379,63.2066996 115.123825,62.6892541 115.761752,62.6892541 L140.912529,62.6892541 C142.361098,62.6892541 142.473919,61.4955777 142.473919,61.1299533 L142.473919,28.8714395 C142.473919,27.4925134 141.37426,27.3204959 140.899993,27.3107459 L109.128978,27.3107459 C107.749356,27.3107459 107.577338,28.4097082 107.567588,28.8825824 L107.567588,48.8254753 C107.567588,49.4634027 107.050143,49.9808482 106.412215,49.9808482 C105.774288,49.9808482 105.256842,49.4634027 105.256842,48.8254753 L105.256842,28.8714395 C105.256842,27.3156209 106.288251,25 109.128978,25 L140.912529,25 C142.467651,25 144.784665,26.0307124 144.784665,28.8714395 L144.784665,61.1292569 C144.784665,62.685772 143.753256,65 140.912529,65 Z M104.961557,64.9986071 C104.819486,64.9986071 104.676718,64.9714465 104.539522,64.9192144 C104.097291,64.7444112 103.806184,64.3188941 103.806184,63.8432342 C103.806184,58.4222439 100.100494,53.634306 94.7951111,52.201755 C94.3305941,52.0763981 93.9921304,51.6752559 93.9461662,51.1968104 C93.900202,50.7169719 94.1571836,50.2594192 94.589665,50.0490981 C96.9672679,48.8895466 98.4443903,46.5655686 98.4443903,43.9839125 C98.4443903,40.2413121 95.3543422,37.1965318 91.5574204,37.1965318 C87.7598022,37.1965318 84.6704506,40.2413121 84.6704506,43.9839125 C84.6704506,46.5655686 86.1482694,48.8895466 88.5265687,50.0490981 C88.9597465,50.2601156 89.2160318,50.7169719 89.170764,51.1968104 C89.1254962,51.6759524 88.7863361,52.0770945 88.3218191,52.201755 C83.0150428,53.634306 79.3100494,58.4222439 79.3100494,63.8432342 C79.3100494,64.4811616 78.7926039,64.9986071 78.1546765,64.9986071 C77.5167491,64.9986071 77,64.4811616 77,63.8432342 C77,58.1777979 80.3860297,53.0952713 85.4734313,50.7803468 C83.5129884,49.0817606 82.3610976,46.6352114 82.3610976,43.9832161 C82.3610976,38.9661536 86.4867331,34.8857859 91.5588133,34.8857859 C96.6301971,34.8857859 100.756529,38.9668501 100.756529,43.9832161 C100.756529,46.6352114 99.6053346,49.0803677 97.6448917,50.7803468 C101.916081,52.7240755 104.987325,56.61989 105.863431,61.1724354 L119.599763,46.3601226 C120.032941,45.891427 120.765583,45.8649627 121.232189,46.298837 C121.700188,46.7327112 121.728742,47.462567 121.294171,47.9305662 L105.808413,64.6288042 C105.585556,64.8690717 105.277039,64.9986071 104.961557,64.9986071 Z" id="Teacher"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <h3 class="item-title">Coaching pro</h3>
                    </a>
                </div> #}
                {% for service in services %}
                    <div class="service">
                        <a href="" {% if loop.index == "1" %}class="active"{% endif %} data-item="{{loop.index}}">
                            <img src="/assets/icons/{{service.icon}}" alt="{{service.name}}">
                            <h3 class="item-title">{{service.name}}</h3>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="services-container">
                {# <div class="service-activity show" id="item-1">
                    <div class="header">
                        <span class="shadow"></span>
                        <img src="assets/imgs/maildenuit-banner.png" alt="mail de nuit le soutien psychologique">
                        <div class="content">
                            <h1>Mail de nuit</h1>
                            <p>Un soutien psychologique et une écoute par mail pour les personnes malades du cancer et leurs proches.</p>
                            <a href="" class="button button-orange button-small">Accèder au service</a>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3 class="item-title">Description</h3>
                        <p>Mail de nuit est un service <span class="strong">gratuit, confidentiel et personnalisé</span> pour  permettre aux malades atteints du cancer ou leurs proches de rompre l’isolement la nuit. Vous avez la possibilité d’écrire votre message, il sera ensuite transmis à notre équipe de spécialistes formés à l’écoute et à la psychologie de la nuit qui vous répondra au plus tard dans les 24h. Mail de Nuit c’est apporter une aide complémentaire au suivi thérapeutique et psychologique habituel pour les malades et leurs proches, lorsqu’ils se sentent seuls la nuit. Ce service est soutenu institutionellement par Roche.</p>
                    </div>
                    <div class="service-documents">
                        <h3 class="item-title">Documents</h3>
                        <ul>
                            <li>
                                <a class="button button-red button-pdf" href="" download>
                                    <span>pdf</span><span class="document-name">Plaquette A4</span>
                                </a>
                            </li>
                            <li>
                                <a class="button button-red button-pdf" href="" download>
                                    <span>pdf</span><span class="document-name">Télécharger la plaquette</span>
                                </a>
                            </li>
                            <li>
                                <a class="button button-red button-pdf" href="" download>
                                    <span>pdf</span><span class="document-name">Dépliant</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="service-activity" id="item-2">
                    <div class="header">
                        <img src="assets/imgs/bullesante-banner.png" alt="bule santé prévention cancer">
                        <div class="content">
                            <h1>Bulle santé</h1>
                            <p>Des podcasts de deux minutes pour prévenir le cancer et les maladies graves ou mieux vivre avec.</p>
                            <a href="" class="button button-orange button-small">Accèder au service</a>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3 class="item-title">Description</h3>
                        <p>Avec l'aide de partenaires, Tribu Cancer lance les collections audio Bulle Santé, des podcasts de 2 minutes : </p>
                        <ul>
                            <li>pour prévenir les risques de maladies graves ou chroniques.</li>
                            <li>pour offrir au plus grand nombre une information claire, concise et validée par la communauté médicale, dans le domaine de la santé et du mieux-être.</li>
                            <li>pour aider les personnes malades à mieux vivre au quotidien.</li>
                        </ul>
                        <p>Les thèmes traités sont ceux qui intéressent le plus les personnes malades mais aussi le grand public : Nutrition, activité physique, activité artistique, relations avec les proches, philosophie de vie...</p>
                        <p>Le principe des enregistrements est simple :</p>
                        <ol type="1">
                            <li>Des personnes malades posent des questions</li>
                            <li>Des experts du monde la santé répondent aux questions</li>
                            <li>Des artistes (comédiens, chanteurs, écrivains…) lisent des questions</li>
                        </ol>
                        <h6>Un format original et complémentaire aux guides papier et sites internet</h6>
                        <p>Le format éditorial est original et innovant : des infos courtes (moins de 2 minutes) sous forme de questions/réponses en audio. La forme audio est bien adaptée, car c’est un support facile d’accès, que l’on peut écouter quasiment en tout lieu et à tout moment.</p>
                        <h6>Une large diffusion</h6>
                        <p>Grâce à ce format, nous pourrons constituer une banque de données de podcasts qui pourront être très facilement partagés et diffusés au plus grand nombre de personnes concernés sur les smartphones, les sites Internet et radios.</p>
                        <h6>Le soutien d’artistes</h6>
                        <p>Pour donner un plus fort impact à ce projet des questions sont lues par des artistes et des personnalités.</p>
                        <h6>Comité éditorial</h6>
                        <p>Le comité éditorial est constitué du Pr Jean-Pierre LOTZ, chef du service Oncologie Médicale à l’hôpital Tenon, Paris, Marie-Hélène BRIAN, attachée de presse et Jean-Louis LAPORTE, président de l’association Tribu Cancer.</p>
                    </div>
                </div>
                <div class="service-activity" id="item-3">
                    <div class="header">
                        <img src="assets/imgs/coachingpro-banner.png" alt="coaching pro tribucancer">
                        <div class="content">
                            <h1>Coaching pro</h1>
                            <p>L’annuaire cancer coaching pour trouver un coach près de vous pour vous aider dans vos démarches professionnelles </p>
                            <a href="" class="button button-orange button-small">Accèder au service</a>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3 class="item-title">Description</h3>
                        <p><span class="strong">L’annuaire cancer coaching</span> pour trouver un coach par téléphone proche de chez vous. Cet annuaire vous indique également les prestations complémentaires proposées par chaque coach, par exemple bilan de compétence, aide à la rédaction de CV, aide à la recherche d’emploi.<br/>
                            Le coaching peut se faire à distance par téléphone. En revanche certaines prestations complémentaires doivent se faire en face à face.<br/>
                            A cet effet l’annuaire a été conçu selon une répartition par régions.</p>
                        <h6>Pour qui ?</h6>
                        <p>Pour les personnes francophones atteintes d’un cancer, en soins ou en rémission.<br/>
                            Ces services sont facilement accessibles à distance de chez soi ou d’un centre de soins, sans se déplacer, de France ou de l’étranger.</p>
                        <h6>Par qui ?</h6>
                        <p>Par des coaches professionnels</p>
                    </div>
                    <div class="service-documents">
                        <h3 class="item-title">Documents</h3>
                        <ul>
                            <li>
                                <a class="button button-red button-pdf" href="" download>
                                    <span>pdf</span><span class="document-name">Guide démarches sociales et cancer</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> #}
                {% for service in services %}
                    <div class="service-activity {% if loop.index == "1" %}show{% endif %}" id="item-{{loop.index}}">
                        <div class="header">
                            <img src="assets/imgs/service/{{service.image}}" alt="{{service.name}} tribucancer">
                            <div class="content">
                                <h1>{{service.name}}</h1>
                                <p>{{service.shortDesc | raw}}</p>
                                <a href="{{service.link}}" class="button button-orange button-small">Accèder au service</a>
                            </div>
                        </div>
                        <div class="service-content">
                            <h3 class="item-title">Description</h3>
                            <p>{{service.body | raw}}</p>
                        </div>
                        <div class="service-documents">
                            <h3 class="item-title">Documents</h3>
                            <ul>
                                <li>
                                    <a class="button button-red button-pdf" href="" download>
                                        <span>pdf</span><span class="document-name">Guide démarches sociales et cancer</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}{% endblock %}