{% extends 'base.html.twig' %}
{% block headerBanner %}{% endblock %}

{% block body %}
    <main class="main-content main-rompre">
        <div class="wide-wrap service">
            <div class="services-switch">
                {% for service in services %}
                    <div class="service">
                        <a href="" class="{% if loop.index == 1 and selected is empty %} active {% endif %}{% if selected == service.slug %} active {% endif %}" data-item="{{service.id}}">
                            <img src="/assets/icons/{{service.icon}}" alt="{{service.name}}">
                            <h3 class="item-title">{{service.name}}</h3>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="services-container">
                {% for service in services %}
                    <div class="service-activity {% if loop.index == 1 and selected is empty %} show {% endif %}{% if selected == service.slug %} show {% endif %}" id="item-{{loop.index}}">
                        <div class="header" style="background-image: url('assets/imgs/service/{{service.image}}')">
                            {# <img src="assets/imgs/service/{{service.image}}" alt="{{service.name}} tribucancer"> #}
                            <div class="content">
                                <h2>{{service.name}}</h2>
                                <p>{{service.short_desc | raw}}</p>
                                <a href="{{service.link}}" class="button button-orange button-small">Accèder au service</a>
                            </div>
                        </div>
                        <div class="service-content">
                            <h3 class="item-title">Description</h3>
                            <p>{{service.body | raw}}</p>
                        </div>
                        {% if service.pdf %}
                            <div class="service-documents">
                                <h3 class="item-title">Documents</h3>
                                <ul>
                                    {% for doc in service.pdf %}
                                        <li>
                                            <a class="button button-{{doc.color}} button-pdf" href="assets/pdf/{{doc.file}}" download>
                                                <span>pdf</span><span class="document-name">{{doc.name}}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}{% endblock %}