{% extends 'base.html.twig' %}
{% block headerBanner %}{% endblock %}

{% block body %}
    <main class="main-content main-rompre">
        <div class="wide-wrap service">
            <div class="services-switch">
                {% for event in events %}
                    <div class="service">
                        <a href="" class="{% if loop.index == 1 and selected is empty %} active {% endif %}{% if selected == event.slug %} active {% endif %}" data-item="{{event.id}}">
                            <h3 class="item-title">{{event.name}}</h3>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="services-container">
                {# <div class="service-activity show" id="item-1">
                    <div class="service-content">
                        <h3 class="item-title">Description</h3>
                        <p>L'association organise des journées en mer pour les malades et leurs proches sur son voilier Tribu Cancer (Beneteau First 36.7 de 10 places). Elle leur offre également la possibilité de participer à des régates. Cette actiivté a été créée par Alain Veyrat alors vice-président de Tribu Cancer et passioné de voile (voir vidéo). Aujourd'hui, Alain nous a quittés mais il avait souhaité que cette activité voile pour les patients et leurs proches se poursuive.</p>
                        <p>Cette actiivté est financée uniquement par nos donateurs et les fonds collectés lors des "Foulées du large". Noter volonté est de fonctionner sur le principe de solidarité en proposant des sorties en mer gratuites afin que les personnes malades avec peu de ressources, qui sont non imposables, puissent en profiter. Notre souhait est que les autres participants connaissent la valeur de cette actiivté et contribuent en faisant un don dans le mesure de leur possibilité (la valeur d'une sortie en mer est d'envirion 80€/personne) car c'est uniquement avec ce principe de solidarité (voir notre charte éthique) que cette activité pourra être pérenne et se développer.</p>
                    </div>
                    <div class="service-content">
                        <h3 class="item-title">Photos et vidéos</h3>
                        <div class="photo-gallery">
                            <a href="#" class="access-gallery">Accèder à la galerie photos/vidéos des précédentes éditions<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></a>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3 class="item-title">Les dates</h3>
                        <h6>Les dates de sorties de l'édition 2016 seront bientôt disponibles.</h6>
                    </div>
                    <div class="service-content">
                        <h3>Inscription</h3>
                        <h6>Pour vous inscrire, deux solutions: remplir le formulaire en ligne ci-dessous ou télécharger puis remplir le bulletin d'inscription dans les documents et le retourner à Tribu Cancer.</h6>
                        <p><span class="emphasis">Conditions d'inscription</span></p>
                    </div>
                    <div class="service-content">
                        <h3 class="item-title">Inscription</h3>
                        <h6>Pour vous inscrire, deux solutions: remplir le formulaire en ligne ci-dessous ou télécharger puis remplur le bulletin d'inscription dans les documents et le retourner à TribuCancer.</h6>
                        <p class="conditions"><span>Conditions d'inscription</span>L’accord du médecin sur cette activité est nécessaire pour les personnes en traitement. L’association prend en charge la mise à disposition du voilier et de son skipper, ainsi que la collation offerte à bord. L’association ne prend en charge aucun frais de transport et d’hébergement. En fonction de la météo et afin de garantir une sortie en mer dans les meilleures conditions, chaque départ sera confirmé ou non par notre skipper 24 h avant la date prévue. En cas d’annulation, le skipper proposera une nouvelle date de sortie. Prévoir casquettes, crèmes solaires, vêtements imperméables et chauds.</p>
                        <div class="inscription-form">
                            <h6>Inscription en ligne</h6>
                            <form action="">
                                <fieldset>
                                    <label for="last-name">Nom<span>*</span>:</label>
                                    <input type="text" name="last-name" id="last-name">
                                </fieldset>

                                <fieldset>
                                    <label for="first-name">Prénom<span>*</span>:</label>
                                    <input type="text" name="first-name" id="first-name">
                                </fieldset>

                                <fieldset>
                                    <label for="email">Email<span>*</span>:</label>
                                    <input type="email" name="email" id="email">
                                </fieldset>

                                <fieldset>
                                    <label for="phone">Téléphone<span>*</span>:</label>
                                    <input type="phone" name="phone" id="phone">
                                </fieldset>

                                <fieldset class="full-size">
                                    <label for="adress">Adresse<span>*</span>:</label>
                                    <input type="adress" name="adress" id="adress">
                                </fieldset>

                                <fieldset>
                                    <label for="city">Ville<span>*</span>:</label>
                                    <input type="text" name="city" id="city">
                                </fieldset>

                                <fieldset>
                                    <label for="postal">Code postal<span>*</span>:</label>
                                    <input type="text" name="postal" id="postal">
                                </fieldset>

                                <input type="submit" id="submit-form" class="hidden" />
                            </form>

                            <label class="submit-button" for="submit-form">Valider mes informations et m'inscrire aux foulées du large<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></label>
                        </div>
                    </div>
                    <div class="service-documents">
                        <h3 class="item-title">Documents</h3>
                        <ul>
                            <li>
                                <a class="button button-red button-pdf" href="" download>
                                    <span>pdf</span><span class="document-name">Plaquette A4</span>
                                </a>
                            </li>
                            <li>
                                <a class="button button-red button-pdf" href="" download>
                                    <span>pdf</span><span class="document-name">Télécharger la plaquette</span>
                                </a>
                            </li>
                            <li>
                                <a class="button button-red button-pdf" href="" download>
                                    <span>pdf</span><span class="document-name">Dépliant</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="service-activity" id="item-2">
                    <div class="service-content">
                        <h3 class="item-title">Description</h3>
                        <p>Tribu Cancer propose des marches et courses sportives ouvertes à tous (malades ou non malades)<br/>De nombreuses études montrent que la pratique d’une activité physique diminue pour tous le risque de cancer et pour les patients améliore la qualité de vie, ainsi que l’efficacité des traitements. Tous les ans depuis 2013 deux courses à pieds (5km et 10km) ainsi qu’une marche caritative sont organisées au mois de juillet sur la presqu’Ile de Quiberon ouvertes à tous (malades et non malades).
                        </p>
                        <h6>Prévention du risque de cancer</h6>
                        <p>De nombreuses études montrent la grande importance de pratiquer une activité physique pour réduire le risque de cancer. Une activité physique de 30mn/jour, peut réduire le risque de cancer par plus de 20%. C'est donc un facteur considérable.</p>
                        <h6>Benfait pendant les traitements</h6>
                        <p>De nombreux essais scientifiques ont confirmé que la pratique d’une activité physique, bien sûr en respectant des critères d’intensité, de régularité et de fréquence, et encadrée par des professionnels formés :</p>
                        <ul>
                            <li>réduit de manière significative la fatigue</li>
                            <li>améliore la qualité de vie pendant les traitements</li>
                            <li>diminue les effets secondaires et atténue la toxicité des traitements</li>
                            <li>réduit le risque de la mortalité globale</li>
                        </ul>
                    </div>
                    <div class="service-content">
                        <h3 class="item-title">Photos et vidéos</h3>
                        <div class="photo-gallery">
                            <a href="#" class="access-gallery">Accèder à la galerie photos/vidéos des précédentes éditions<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></a>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3 class="item-title">Les dates</h3>
                        <h6>Prochaine édition le samedi 23 juillet 2016</h6>
                    </div>
                    <div class="service-content">
                        <h3 class="item-title">Inscription</h3>
                        <h6>Pour vous inscrire, deux solutions: remplir le formulaire en ligne ci-dessous ou télécharger puis remplur le bulletin d'inscription dans les documents et le retourner à TribuCancer.</h6>
                        <div class="inscription-form">
                            <h6>Inscription en ligne</h6>
                            <form action="">
                                <fieldset>
                                    <label for="last-name">Nom<span>*</span>:</label>
                                    <input type="text" name="last-name" id="last-name">
                                </fieldset>

                                <fieldset>
                                    <label for="first-name">Prénom<span>*</span>:</label>
                                    <input type="text" name="first-name" id="first-name">
                                </fieldset>

                                <fieldset>
                                    <label for="email">Email<span>*</span>:</label>
                                    <input type="email" name="email" id="email">
                                </fieldset>

                                <fieldset>
                                    <label for="phone">Téléphone<span>*</span>:</label>
                                    <input type="phone" name="phone" id="phone">
                                </fieldset>

                                <fieldset class="full-size">
                                    <label for="adress">Adresse<span>*</span>:</label>
                                    <input type="adress" name="adress" id="adress">
                                </fieldset>

                                <fieldset>
                                    <label for="city">Ville<span>*</span>:</label>
                                    <input type="text" name="city" id="city">
                                </fieldset>

                                <fieldset>
                                    <label for="postal">Code postal<span>*</span>:</label>
                                    <input type="text" name="postal" id="postal">
                                </fieldset>

                                <input type="submit" id="submit-form" class="hidden" />
                            </form>

                            <label class="submit-button" for="submit-form">Valider mes informations et m'inscrire aux foulées du large<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></label>
                        </div>
                    </div>
                    <div class="service-documents">
                        <h3 class="item-title">Documents</h3>
                        <ul>
                            <li>
                                <a class="button button-red button-pdf" href="" download>
                                    <span>pdf</span><span class="document-name">Bulletin d'inscription edition 2016</span>
                                </a>
                            </li>
                            <li>
                                <a class="button button-red button-pdf" href="" download>
                                    <span>pdf</span><span class="document-name">Affiche des courses</span>
                                </a>
                            </li>
                            <li>
                                <a class="button button-red button-pdf" href="" download>
                                    <span>pdf</span><span class="document-name">Affiche de la marche</span>
                                </a>
                            </li>
                            <li>
                                <a class="button button-red button-pdf" href="" download>
                                    <span>pdf</span><span class="document-name">Classement de la course</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="service-activity" id="item-3">
                    <div class="service-content">
                        <h3 class="item-title">Description</h3>
                        <p>Tous les ans depuis 2014 une marche costumée caritative est organisée au mois de mai en Dordogne près de Périgueux ouverte à tous (malades et non malades). Les fonds collectés lors de ces événements sont utilisés pour financer les actions de Tribu Cancer en faveur des personnes malades et de leurs proches.</p>
                        <h6>Prévention du risque de cancer</h6>
                        <p>De nombreuses études montrent la grande importance de pratiquer une activité physique pour réduire le risque de cancer. Une activité physique de 30 mn /jour, peut réduire le risque de cancer de plus de 20%. C’est donc un facteur considérable.</p>
                        <h6>Bienfait pendant les traitements</h6>
                        <p>De nombreux essais scientifiques ont confirmé que la pratique d’une activité physique, bien sûr en respectant des critères d’intensité, de régularité et de fréquence, et encadrée par des professionnels formés :</p>
                        <ul>
                            <li>réduit de manière significative la fatigue</li>
                            <li>améliore la qualité de vie pendant les traitements</li>
                            <li>diminue les effets secondaires et atténue la toxicité des traitements</li>
                            <li>réduit le risque de la mortalité globale</li>
                        </ul>
                    </div>
                    <div class="service-content">
                        <h3 class="item-title">Photos et vidéos</h3>
                        <div class="photo-gallery">
                            <a href="#" class="access-gallery">Accèder à la galerie photos/vidéos des précédentes éditions<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></a>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3 class="item-title">Les dates</h3>
                        <h6>Les dates de sorties de l'édition 2016 seront bientôt disponibles.</h6>
                    </div>
                    <div class="service-content">
                        <h3 class="item-title">Inscription</h3>
                        <h6>Pour vous inscrire, deux solutions: remplir le formulaire en ligne ci-dessous ou télécharger puis remplur le bulletin d'inscription dans les documents et le retourner à TribuCancer.</h6>
                        <div class="inscription-form">
                            <h6>Inscription en ligne</h6>
                            <form action="">
                                <fieldset>
                                    <label for="last-name">Nom<span>*</span>:</label>
                                    <input type="text" name="last-name" id="last-name">
                                </fieldset>

                                <fieldset>
                                    <label for="first-name">Prénom<span>*</span>:</label>
                                    <input type="text" name="first-name" id="first-name">
                                </fieldset>

                                <fieldset>
                                    <label for="email">Email<span>*</span>:</label>
                                    <input type="email" name="email" id="email">
                                </fieldset>

                                <fieldset>
                                    <label for="phone">Téléphone<span>*</span>:</label>
                                    <input type="phone" name="phone" id="phone">
                                </fieldset>

                                <fieldset class="full-size">
                                    <label for="adress">Adresse<span>*</span>:</label>
                                    <input type="adress" name="adress" id="adress">
                                </fieldset>

                                <fieldset>
                                    <label for="city">Ville<span>*</span>:</label>
                                    <input type="text" name="city" id="city">
                                </fieldset>

                                <fieldset>
                                    <label for="postal">Code postal<span>*</span>:</label>
                                    <input type="text" name="postal" id="postal">
                                </fieldset>

                                <input type="submit" id="submit-form" class="hidden" />
                            </form>

                            <label class="submit-button" for="submit-form">Valider mes informations et m'inscrire aux foulées du printemps<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></label>
                        </div>
                    </div>
                    <div class="service-documents">
                        <h3 class="item-title">Documents</h3>
                        <ul>
                            <li>
                                <a class="button button-red button-pdf" href="" download>
                                    <span>pdf</span><span class="document-name">Guide démarches sociales et cancer</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="service-activity" id="item-4">
                    <div class="service-content">
                        <h3 class="item-title">Description</h3>
                        <p>L’association Aquadémie Paris Plongée propose tous les mois depuis 2009 des séances de plongée à des patients ayant terminé leurs traitements. Une initiative originale qui s’inscrit dans un processus global de reconstruction. Et invite après l’épreuve à une renaissance aussi bien physique que symbolique.<br/>Chef du service d’oncologie à l’hôpital Tenon de Paris, le Pr Jean-Pierre Lotz est très investi auprès de ses patients. Passionné de plongée depuis une dizaine d’années, c’est en discutant avec d’autres aficionados de la fédération qu’est née en lui l’idée d’amener des malades à découvrir ces plaisirs aquatiques. En partenariat avec l’association Tribu Cancer , Aquadémie Paris Plongée a vu le jour en 2009. Une association récente qui, pour sa seconde année d’existence, compte aujourd’hui une douzaine de membres. Le principe ? Organiser une séance de plongée par mois en piscine, puis emmener les adhérents en mer quelques jours sur le site du Lavandou. « L’objectif n’est pas d’en faire des grands plongeurs : on leur propose un baptême et on amène ceux qui le souhaitent au niveau 1 », souligne Guy Boubennec, président de l’association et moniteur. Enthousiaste et passionné de plongée depuis plus de 40 ans, cet homme connaît bien la problématique de ses élèves, ayant lui-même été confronté au cancer.<br/>Découvrir de nouvelles sensations physiques, s’évader du quotidien, retrouver un nouveau souffle après les traitements : autant de bénéfices tangibles pour les participants qui décident de se jeter à l’eau.
                        </p>
                    </div>
                    <div class="service-content">
                        <h3 class="item-title">Photos et vidéos</h3>
                        <div class="photo-gallery">
                            <a href="#" class="access-gallery">Accèder à la galerie photos/vidéos des précédentes éditions<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></a>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3 class="item-title">Inscription</h3>
                        <h6>Pour vous inscrire, rendez-vous sur le site d'Aquadémie via le lien ci-dessous</h6>
                        <div class="inscription-form">
                            <h6>Inscription en ligne</h6>
                            <a class="submit-button">Se rendre sur le site internet d'aquadémie<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></a>
                        </div>
                    </div>
                    <div class="service-documents">
                        <h3 class="item-title">Documents</h3>
                        <ul>
                            <li>
                                <a class="button button-red button-pdf" href="" download>
                                    <span>pdf</span><span class="document-name">Présentation du projet</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> #}

                {% for event in events %}
                    <div class="service-activity {% if loop.index == 1 and selected is empty %} show {% endif %}{% if selected == event.slug %} show {% endif %}" id="item-{{event.id}}">
                        <div class="service-content">
                            <h3 class="item-title">Description</h3>
                            {{event.body | raw}}
                        </div>
                        <div class="service-content">
                            <h3 class="item-title">Photos et vidéos</h3>
                            <div class="photo-gallery">
                                {% if event.flickr != "null" %}
                                    <a href="{{event.flickr}}" class="access-gallery" target="_blank">Accèder à la galerie photos des précédentes éditions<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></a>
                                {% endif %}
                                {% if event.youtube != "null" %}
                                    <a href="{{event.youtube}}" class="access-gallery" target="_blank">Accèder aux vidéos des précédentes éditions<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></a>
                                {% endif %}
                                <div class="gallery">
                                    <a href="assets/imgs/event/{{event.image.0}}" class="gallery-item"><img src="assets/imgs/event/{{event.image.0}}" alt="{{event.name}}-{{loop.index}}"></a>
                                    <a href="assets/imgs/event/{{event.image.1}}" class="gallery-item"><img src="assets/imgs/event/{{event.image.1}}" alt="{{event.name}}-{{loop.index}}"></a>
                                    <a href="assets/imgs/event/{{event.image.2}}" class="gallery-item"><img src="assets/imgs/event/{{event.image.2}}" alt="{{event.name}}-{{loop.index}}"></a>
                                </div>
                                <div class="gallery-view-box"></div>
                            </div>
                        </div>
                        {% if event.date %}
                            <div class="service-content">
                                <h3 class="item-title">Les dates</h3>
                                <h6>{{event.date}}</h6>
                            </div>
                        {% endif %}
                        
                        <div class="service-content">
                            <h3 class="item-title">Inscription</h3>
                            {% if event.inscription %}
                                <h6>Pour vous inscrire, deux solutions: remplir le formulaire en ligne ci-dessous ou télécharger puis remplur le bulletin d'inscription dans les documents et le retourner à TribuCancer.</h6>
                                <div class="inscription-form">
                                    <h6>Inscription en ligne</h6>
                                    <form action="">
                                        <fieldset>
                                            <label for="last-name">Nom<span>*</span>:</label>
                                            <input type="text" name="last-name" id="last-name">
                                        </fieldset>

                                        <fieldset>
                                            <label for="first-name">Prénom<span>*</span>:</label>
                                            <input type="text" name="first-name" id="first-name">
                                        </fieldset>

                                        <fieldset>
                                            <label for="email">Email<span>*</span>:</label>
                                            <input type="email" name="email" id="email">
                                        </fieldset>

                                        <fieldset>
                                            <label for="phone">Téléphone<span>*</span>:</label>
                                            <input type="phone" name="phone" id="phone">
                                        </fieldset>

                                        <fieldset class="full-size">
                                            <label for="adress">Adresse<span>*</span>:</label>
                                            <input type="adress" name="adress" id="adress">
                                        </fieldset>

                                        <fieldset>
                                            <label for="city">Ville<span>*</span>:</label>
                                            <input type="text" name="city" id="city">
                                        </fieldset>

                                        <fieldset>
                                            <label for="postal">Code postal<span>*</span>:</label>
                                            <input type="text" name="postal" id="postal">
                                        </fieldset>

                                        <input type="hidden" id="form-slug" value="{{event.slug}}">

                                        <input type="submit" id="submit-form" class="hidden" />
                                    </form>

                                    <label class="submit-button" for="submit-form">Valider mes informations et m'inscrire à {{event.name}}<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></label>
                                </div>
                            {% endif %}
                            {% if event.slug == "plongee-avec-aquademie" %}
                                <h6>Pour vous inscrire, rendez-vous sur le site d’Aquadémie via le lien ci-dessous.</h6>
                                <br/>
                                <a href="" class="access-gallery" target="_blank">SE RENDRE SUR LE SITE INTERNET D’AQUADÉMIE<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></a>
                            {% endif %}
                        </div>

                        <div class="service-documents">
                            <h3 class="item-title">Documents</h3>
                            <ul>
                                {# <li>
                                    <a class="button button-red button-pdf" href="" download>
                                        <span>pdf</span><span class="document-name">Bulletin d'inscription edition 2016</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="button button-red button-pdf" href="" download>
                                        <span>pdf</span><span class="document-name">Affiche des courses</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="button button-red button-pdf" href="" download>
                                        <span>pdf</span><span class="document-name">Affiche de la marche</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="button button-red button-pdf" href="" download>
                                        <span>pdf</span><span class="document-name">Classement de la course</span>
                                    </a>
                                </li> #}
                                {% for doc in event.pdf %}
                                    <li>
                                        <a class="button button-{{doc.color}} button-pdf" href="assets/pdf/{{doc.file}}" download>
                                            <span>pdf</span><span class="document-name">{{doc.name}}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}{% endblock %}