{% extends 'base.html.twig' %}
{% block headerBanner %}{% endblock %}

{% block body %}
    <main class="main-content main-rompre">
        <div class="wide-wrap service">
            <div class="services-switch">
                {% for event in events %}
                    <div class="service">
                        <a href="" class="{% if loop.index == 1 and selected is empty %} active {% endif %}{% if selected == event.slug %} active {% endif %}" data-item="{{event.id}}">
                            <h3 class="item-title">{{event.name}}</h3>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="services-container">
                {% for event in events %}
                    <div class="service-activity {% if loop.index == 1 and selected is empty %} show {% endif %}{% if selected == event.slug %} show {% endif %}" id="item-{{event.id}}">
                        <div class="service-content">
                            <h3 class="item-title">Description</h3>
                            {{event.body | raw}}
                        </div>
                        <div class="service-content">
                            <h3 class="item-title">Photos et vidéos</h3>
                            <div class="photo-gallery">
                                <a href="{{event.flickr}}" class="access-gallery" target="_blank">Accèder à la galerie photos/vidéos des précédentes éditions<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></a>
                                <div class="gallery">
                                    <a href="assets/imgs/event/{{event.image.0}}" class="gallery-item"><img src="assets/imgs/event/{{event.image.0}}" alt="{{event.name}}-{{loop.index}}"></a>
                                    <a href="assets/imgs/event/{{event.image.1}}" class="gallery-item"><img src="assets/imgs/event/{{event.image.1}}" alt="{{event.name}}-{{loop.index}}"></a>
                                    <a href="assets/imgs/event/{{event.image.2}}" class="gallery-item"><img src="assets/imgs/event/{{event.image.2}}" alt="{{event.name}}-{{loop.index}}"></a>
                                </div>
                                <div class="gallery-view-box"></div>
                            </div>
                        </div>
                        {% if event.date %}
                            <div class="service-content">
                                <h3 class="item-title">Les dates</h3>
                                <h6>{{event.date}}</h6>
                            </div>
                        {% endif %}
                        
                        <div class="service-content">
                            <h3 class="item-title">Contact</h3>
                            {% if event.inscription %}
                                <h6>Pour vous inscrire, deux solutions: remplir le formulaire en ligne ci-dessous ou télécharger puis remplir le bulletin d'inscription dans les documents et le retourner à TribuCancer.</h6>
                                <div class="inscription-form">
                                    <h6>Inscription en ligne</h6>
                                    <form action="">
                                        <fieldset>
                                            <label for="last-name">Nom<span>*</span>:</label>
                                            <input type="text" name="last-name" id="last-name">
                                        </fieldset>

                                        <fieldset>
                                            <label for="first-name">Prénom<span>*</span>:</label>
                                            <input type="text" name="first-name" id="first-name">
                                        </fieldset>

                                        <fieldset>
                                            <label for="email">Email<span>*</span>:</label>
                                            <input type="email" name="email" id="email">
                                        </fieldset>

                                        <fieldset>
                                            <label for="phone">Téléphone<span>*</span>:</label>
                                            <input type="phone" name="phone" id="phone">
                                        </fieldset>

                                        <fieldset class="full-size">
                                            <label for="adress">Adresse<span>*</span>:</label>
                                            <input type="adress" name="adress" id="adress">
                                        </fieldset>

                                        <fieldset>
                                            <label for="city">Ville<span>*</span>:</label>
                                            <input type="text" name="city" id="city">
                                        </fieldset>

                                        <fieldset>
                                            <label for="postal">Code postal<span>*</span>:</label>
                                            <input type="text" name="postal" id="postal">
                                        </fieldset>

                                        <input type="hidden" id="form-slug" value="{{event.slug}}">

                                        <input type="submit" id="submit-form" class="hidden" />
                                    </form>

                                    <label class="submit-button" for="submit-form">Valider mes informations et m'inscrire à {{event.name}}<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></label>
                                </div>
                            {% endif %}
                            {% if event.slug == "plongee-avec-aquademie" %}
                                <h6>Pour vous inscrire, rendez-vous sur le site d’Aquadémie via le lien ci-dessous.</h6>
                                <br/>
                                <a href="" class="access-gallery" target="_blank">SE RENDRE SUR LE SITE INTERNET D’AQUADÉMIE<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></a>
                            {% endif %}
                        </div>

                        {% if event.pdf %}
                            <div class="service-documents">
                                <h3 class="item-title">Documents</h3>
                                <ul>
                                    {% for doc in event.pdf %}
                                        <li>
                                            <a class="button button-{{doc.color}} button-pdf" href="assets/pdf/{{doc.file}}" download>
                                                <span>pdf</span><span class="document-name">{{doc.name}}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}{% endblock %}