{% extends 'AppBundle:Admin:base.html.twig' %}
{% import 'AppBundle:Admin:partials/header.html.twig' as title %}

{% block body %}
	<main class="main-create">
		{% form_theme form 'form/fields.html.twig' %}

		{{ form_start(form) }}

		{% if slug == "article" or slug == 'archive' %}
			{{ form_row(form.title) }}
			{{ form_row(form.body) }}
			{{ form_row(form.position) }}
			{{ form_widget(form.imageFile) }}
		{% elseif slug == 'event' %}
			{{ form_row(form.name) }}
			{{ form_row(form.shortDesc) }}
			{{ form_row(form.body) }}
			{{ form_row(form.inscription) }}
			{{ form_row(form.date) }}
			{{ form_row(form.position) }}
			{{ form_widget(form.thumbnailFile) }}
			{{ form_widget(form.imageFile1) }}
			{{ form_widget(form.imageFile2) }}
			{{ form_widget(form.imageFile3) }}
			{{ form_row(form.flickr) }}
			{{ form_row(form.youtube) }}
		{% elseif slug == 'service' %}
			{{ form_row(form.name) }}
			{{ form_row(form.shortDesc) }}
			{{ form_row(form.body) }}
			{{ form_row(form.link) }}
			{{ form_row(form.position) }}
			<img src="{{ asset('assets/imgs/service/'~form.vars.data.image) }}" alt="">
			{{ form_widget(form.imageFile) }}
			<img src="{{ asset('assets/icons/'~form.vars.data.icon) }}" alt="">
			{{ form_widget(form.iconFile) }}
		{% endif %}

		{% if form.pdf %}
			<h2 class="pdf-section" >Pdf</h2>
			<ul class="pdf-list" data-prototype="{{ form_widget(form.pdf.vars.prototype)|e }}">
				{{ form_widget(form.pdf) }}
			</ul>
		{% endif %}
		<div class="submit-div">
        	{{ form_row(form.submit) }}
        </div>
		{{ form_end(form) }}
	</main>

{% endblock %}
{% block javascripts %}{% endblock %}