{% extends 'AppBundle:Admin:base.html.twig' %}
{% import 'AppBundle:Admin:partials/header.html.twig' as title %}

{% block body %}
	<main class="main-list">
		<a href="{{ path('admin_create', {'slug': slug}) }}" class="button button-blue button-small button-create">Nouveau</a>
	    <table class="content">
			{% if slug == "article" or slug == 'archive' %}
				<thead class="row row-head row-5">
					<tr>
		    			<th><span>Position</span></th>
			        	<th><span>Titre</span></th>
			        	<th><span>Image</span></th>
			        	<th><span>Pdf</span></th>
			        	<th><span>Actions</span></th>
		    		</tr>
	        	</thead>
	        	<tbody>
					{% for _data in data %}
					<tr class="row row-data row-5">
			        	<td>{{ _data.position|e }}</td>
			        	<td>{{ _data.title|e }}</td>
			        	<td class="td-image" ><img class="image-data" src="{{ asset( _data.image , 'img_article') }}" alt="image d'article"></td>
			        	<td class="td-pdf">
			        		{% for _pdf in _data.pdf %}
			        			<a class="button button-pdf button-{{_pdf.color}}" href="{{ asset( _pdf.file , 'pdf') }}" target="_blank">
						            <span>pdf</span>
						            {{_pdf.name}}
						        </a>
						    {% else %}
						    	Aucun Pdf.   
			        		{% endfor %}
			        	</td>
			        	<td class="td-actions">
				        	<a href="{{ path('admin_edit', {'slug': slug, 'id': _data.id}) }}" class="button button-blue button-small button-edit">Modifier</a>
				        	<a href="#" class="button button-red button-small button-delete" data-delete-id="{{_data.id}}" data-delete-slug="{{_data.getClass()}}" data-delete-title="{{_data.title}}">Supprimer</a>
			        	</td>
		        	</tr>
					{% endfor %}
				</tbody>
	        {% elseif slug == 'partner' %}
	        	<thead class="row row-head row-5">
					<tr>
		    			<th><span>Position</span></th>
			        	<th><span>Nom</span></th>
			        	<th><span>Lien</span></th>
			        	<th><span>Image</span></th>
			        	<th><span>Actions</span></th>
		    		</tr>
	        	</thead>
	        	<tbody>
					{% for _data in data %}
					<tr class="row row-data row-5">
			        	<td>{{ _data.position|e }}</td>
			        	<td>{{ _data.title|e }}</td>
						<td> <a href="{{ _data.link }}">Lien</a></td>
			        	<td class="td-image" ><img class="image-data" src="{{ asset( _data.image , 'img_partner') }}" alt="image de partenaires"></td>
			        	<td class="td-actions">
				        	<a href="{{ path('admin_edit', {'slug': slug, 'id': _data.id}) }}" class="button button-blue button-small button-edit">Modifier</a>
				        	<a href="#" class="button button-red button-small button-delete" data-delete-id="{{_data.id}}" data-delete-slug="{{_data.getClass()}}" data-delete-title="{{_data.title}}">Supprimer</a>
			        	</td>
		        	</tr>
					{% endfor %}
				</tbody>
	        {% elseif slug == 'event' %}
	        	<thead class="row row-head row-5">
					<tr>
		    			<th><span>Position</span></th>
			        	<th><span>Nom</span></th>
			        	<th><span>Inscription</span></th>
			        	<th><span>Date</span></th>
			        	<th><span>Vignette</span></th>
			        	<th><span>Lien Flickr</span></th>
			        	<th><span>Lien Youtube</span></th>
			        	<th><span>Pdf</span></th>
			        	<th><span>Actions</span></th>
		    		</tr>
	        	</thead>
	        	<tbody>
					{% for _data in data %}
					<tr class="row row-data row-5">
			        	<td>{{ _data.position|e }}</td>
			        	<td>{{ _data.name|e }}</td>
						<td>
							{% if _data.inscription|e == 1 %}
								Oui
							{% else %}
								Non
							{% endif %}
						</td>
						<td>{{ _data.date|e }}</td>
			        	<td class="td-image" ><img class="image-data" src="{{ asset( _data.thumbnail , 'img_event') }}" alt="image de vignette"></td>
						<td> <a href="{{ _data.flickr }}">Flickr</a></td>
						<td> <a href="{{ _data.youtube }}">Youtube</a></td>
			        	<td class="td-pdf">
			        		{% for _pdf in _data.pdf %}
			        			<a class="button button-pdf button-{{_pdf.color}}" href="{{ asset( _pdf.file , 'pdf') }}" target="_blank">
						            <span>pdf</span>
						            {{_pdf.name}}
						        </a>
						    {% else %}
						    	Aucun Pdf.   
			        		{% endfor %}
			        	</td>
			        	<td class="td-actions">
				        	<a href="{{ path('admin_edit', {'slug': slug, 'id': _data.id}) }}" class="button button-blue button-small button-edit">Modifier</a>
				        	<a href="#" class="button button-red button-small button-delete" data-delete-id="{{_data.id}}" data-delete-slug="{{_data.getClass()}}" data-delete-title="{{_data.name}}">Supprimer</a>
			        	</td>
		        	</tr>
					{% endfor %}
				</tbody>
	        {% elseif slug == 'service' %}
	        	<thead class="row row-head row-5">
					<tr>
		    			<th><span>Position</span></th>
			        	<th><span>Nom</span></th>
			        	<th><span>Lien</span></th>
			        	<th><span>Image</span></th>
			        	<th><span>Icone</span></th>
			        	<th><span>Pdf</span></th>
			        	<th><span>Actions</span></th>
		    		</tr>
	        	</thead>
	        	<tbody>
					{% for _data in data %}
					<tr class="row row-data row-5">
			        	<td>{{ _data.position|e }}</td>
			        	<td>{{ _data.name|e }}</td>
						<td> <a href="{{ _data.lien }}">Lien</a></td>
			        	<td class="td-image" ><img class="image-data" src="{{ asset( _data.image , 'img_service') }}" alt="image de d'article"></td>
			        	<td class="td-image" ><img class="image-data" src="{{ asset( _data.icon , 'img_icon') }}" alt="Icone"></td>
			        	<td class="td-pdf">
			        		{% for _pdf in _data.pdf %}
			        			<a class="button button-pdf button-{{_pdf.color}}" href="{{ asset( _pdf.file , 'pdf') }}" target="_blank">
						            <span>pdf</span>
						            {{_pdf.name}}
						        </a>
						    {% else %}
						    	Aucun Pdf.   
			        		{% endfor %}
			        	</td>
			        	<td class="td-actions">
				        	<a href="{{ path('admin_edit', {'slug': slug, 'id': _data.id}) }}" class="button button-blue button-small button-edit">Modifier</a>
				        	<a href="#" class="button button-red button-small button-delete" data-delete-id="{{_data.id}}" data-delete-slug="{{_data.getClass()}}" data-delete-title="{{_data.name}}">Supprimer</a>
			        	</td>
		        	</tr>
					{% endfor %}
				</tbody>
			{% elseif slug == 'association' %}
				<thead class="row row-head row-5">
					<tr>
			        	<th><span>Pdf</span></th>
		    		</tr>
	        	</thead>
	        	<tbody>
	        		{% for _data in data %}
						<td class="td-pdf">
			        		{% for _pdf in _data.pdf %}
			        			<a class="button button-pdf button-{{_pdf.color}}" href="{{ asset( _pdf.file , 'pdf') }}" target="_blank">
						            <span>pdf</span>
						            {{_pdf.name}}
						        </a>
						    {% else %}
						    	Aucun Pdf.   
			        		{% endfor %}
			        	</td>
			        	<td class="td-actions">
				        	<a href="{{ path('admin_edit', {'slug': slug, 'id': _data.id}) }}" class="button button-blue button-small button-edit">Modifier</a>
			        	</td>
		        	{% endfor %}
        		</tbody>
	        {% endif %}
        </table>
  	</main>
  	<div class="confirm-delete-content" data-type="confirm-box" >
    	<div class="box" >
    		<h2 class="text">Voulez vous supprimer <span class="title-delete" data-title></span> ?</h2>
    		<div class="confirm-action">
	    		<a href="#" data-type="confirm-ok" class="button button-blue button-small button-ok">Oui</a>
	        	<a href="#" data-type="confirm-cancel" class="button button-red button-small button-cancel">Annuler</a>
    		</div>
    	</div>
    </div>

{% endblock %}

{% block javascripts %}{% endblock %}
