<header>
    <div class="content">
        <div class="tribucancer-logo">
            <a href="{{ path('admin_accueil') }}"><img src="{{ asset('logo-papillon.jpg', 'img') }}" alt="association tribu cancer"></a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ path('admin_accueil') }}association">L'association</a></li>
                <li><a href="{{ path('admin_accueil') }}service">Rompre l'isolement</a></li>
                <li><a href="{{ path('admin_accueil') }}event">S'évader</a></li>
                <li><a href="{{ path('admin_accueil') }}partner">Partenaires</a></li>
                <li><a href="{{ path('admin_accueil') }}article">Articles</a></li>
                <li><a href="{{ path('admin_accueil') }}archive">Archives</a></li>
            </ul>
        </nav>
    </div>
</header>

